### KNN - K Nearest Neighbours

1. Lazy Algorithm
2. comes under supervised learning - classified
3. does't consider any mathematical intution
4. new data will be converted to the class which is nearest to it
5. undertstanding domain - good for ecommerce, not good for healthcare
6. structured data

#### Formulas to calculate K nearest neighbour

    1. eucludian
    
    2. minkowski
    
    3. manhattan

#### Q) how to choose value of K?

Ans: elbow method

### Steps to calculate KNN

    1. choose the no. K of neighbours
    
    2. take the K nearest neighbours of new datapoint, according to Euclidian distance(default)
    
    3. among the K neighbours, count the no of data points in each category
    
    4. assign the new data point to the category where you counted the most neighbours
    
    5. model is ready

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("emp_promotion.csv")

In [4]:
df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,65438,Sales & Marketing,region_7,Master's & above,f,sourcing,1,35,5.0,8,1,0,49,0
1,65141,Operations,region_22,Bachelor's,m,other,1,30,5.0,4,0,0,60,0
2,7513,Sales & Marketing,region_19,Bachelor's,m,sourcing,1,34,3.0,7,0,0,50,0
3,2542,Sales & Marketing,region_23,Bachelor's,m,other,2,39,1.0,10,0,0,50,0
4,48945,Technology,region_26,Bachelor's,m,other,1,45,3.0,2,0,0,73,0

In [5]:
df.shape

(54808, 14)

In [6]:
df.isnull().any()

employee_id             False
department              False
region                  False
education                True
gender                  False
recruitment_channel     False
no_of_trainings         False
age                     False
previous_year_rating     True
length_of_service       False
KPIs_met >80%           False
awards_won?             False
avg_training_score      False
is_promoted             False
dtype: bool

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54808 entries, 0 to 54807
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           54808 non-null  int64
 1   department            54808 non-null  object
 2   region                54808 non-null  object
 3   education             52399 non-null  object
 4   gender                54808 non-null  object
 5   recruitment_channel   54808 non-null  object
 6   no_of_trainings       54808 non-null  int64
 7   age                   54808 non-null  int64
 8   previous_year_rating  50684 non-null  float64
 9   length_of_service     54808 non-null  int64
 10  KPIs_met >80%         54808 non-null  int64
 11  awards_won?           54808 non-null  int64
 12  avg_training_score    54808 non-null  int64
 13  is_promoted           54808 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 5.9+ MB

In [8]:
from sklearn.impute import SimpleImputer

In [9]:
imputer = SimpleImputer()

In [ ]:
df['previous_year_rating'] = imputer(df['previous_year_rating'], strategy = median())